rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{contactId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
    
    // By default, deny all other reads and writes
    match /{document=**} {
      allow read, write: if false;
    }
}

